*{
    margin:0;
    padding:0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin-top: 102.34px;
}
header{
    position:fixed;
    top:0;
    width:100%;
    background: #a21e1e;
    display: flex;
    flex-direction: row;
    padding:.6em;
    color:#262626;
    justify-content: space-between;
    height: 9%;
}
.titulo img{
    width: 7em;
}
.titulo{
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content:space-evenly;
    align-items: center;
}
nav{
    width: 60%;
    height: 100%;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    font-size: larger;
    margin-left: 35%;
    height: 100%;
}
li{
    padding:1em;
    cursor: pointer;
}

footer{
    position: fixed;
    bottom:0;
    width: 100%;
    background: #262626;
    color:#fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3em;
}
.pie{
    width: 80%;
    text-align: center;
}
.contactos{
    width:20%;
    padding:1em;
}
.contactos img{
    width: 1.6em;
    margin:1em;
}