.contenedor-modal{
    position:fixed;
    height: 100%;
    width: 100%;
    background: #2525256a;
    display: none;
    justify-content: center;
    z-index: 1;
}
.modal{
    background: #fff;
    border-radius: 8px;
    height: 30%;
    width: 40%;
    text-align: center;
    padding:1em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
}
.modmin{
    height: 82% !important;
}
.modal form{
    display: flex;
    padding-top:1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.modal>form>h3{
    padding-bottom: .8em;
}
.modal input, .modal select{
    margin:.7em;
    width: 60%;
    padding:.8em;
    border-radius: 8px;
    border: 1px #cbdacbee solid;
}
.modal select{
    width: 65% !important;
}
input[type="number"]::-webkit-inner-spin-button, ::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin:0;
}
input[type="number"]{
    -moz-appearance: textfield;
}
.modal input[type="submit"]{
    width:40%;
    cursor: pointer;
    background: #fc0000;
}
i{
    position: absolute;
    top:0;
    right: 0;
    cursor:pointer;
    padding:.4em;
    font-size: 1.4em;
}